Since I used the code provided in Priit Adler's Github and forked it I will do some more work to meet the requirements set in the homework assignment.

First I need to create a new column for SO2 average.

In [1]:


import numpy as np
import pandas as pd

air_data_df = pd.read_csv("air_2022_cleared.csv")

# Let's see if everything is displayed correctly

air_data_df.head()

               DateTime  SO2   NO2    CO    O3  PM10  PM2.5  TEMP   WD10  WS10
0  2022-01-31T23:00:00Z  0.7   6.8  0.28  43.0   9.0    5.9  -2.5  313.0   1.9
1  2022-01-31T22:00:00Z  0.9   9.6  0.30  40.5   8.6    5.5  -2.3  306.0   1.6
2  2022-01-31T21:00:00Z  1.1  12.6  0.33  37.0   8.6    5.5  -2.2  312.0   1.7
3  2022-01-31T20:00:00Z  1.1  15.5  0.32  34.4   7.8    4.7  -2.1  319.0   1.8
4  2022-01-31T19:00:00Z  0.9  16.6  0.30  35.2   7.0    4.0  -2.0  326.0   1.7

In [2]:
# Let's see if all the data types are correct

air_data_df.dtypes

DateTime     object
SO2         float64
NO2         float64
CO          float64
O3          float64
PM10        float64
PM2.5       float64
TEMP        float64
WD10        float64
WS10        float64
dtype: object

In [3]:
# Somehow datetime is not datetime, let's correct that

air_data_df['DateTime'] = pd.to_datetime(air_data_df['DateTime'])

Everything seems to be ok

In [4]:
# Let's make a new column for average SO2 

air_data_df['SO2_average'] = air_data_df['SO2'].mean()

# Let's check if everything is ok

air_data_df.head()

,DateTime,SO2,NO2,CO,O3,PM10,PM2.5,TEMP,WD10,WS10,SO2_average
0,2022-01-31 23:00:00+00:00,0.7,6.8,0.28,43.0,9.0,5.9,-2.5,313.0,1.9,0.37533
1,2022-01-31 22:00:00+00:00,0.9,9.6,0.30,40.5,8.6,5.5,-2.3,306.0,1.6,0.37533
2,2022-01-31 21:00:00+00:00,1.1,12.6,0.33,37.0,8.6,5.5,-2.2,312.0,1.7,0.37533
3,2022-01-31 20:00:00+00:00,1.1,15.5,0.32,34.4,7.8,4.7,-2.1,319.0,1.8,0.37533
4,2022-01-31 19:00:00+00:00,0.9,16.6,0.30,35.2,7.0,4.0,-2.0,326.0,1.7,0.37533

Since this worked well we will create the others just like the ones before just replacing the Column names

In [5]:
# Let's make a new column for average NO2 

air_data_df['NO2_average'] = air_data_df['NO2'].mean()

# Let's check if everything is ok

air_data_df.head()

,DateTime,SO2,NO2,CO,O3,PM10,PM2.5,TEMP,WD10,WS10,SO2_average,NO2_average
0,2022-01-31 23:00:00+00:00,0.7,6.8,0.28,43.0,9.0,5.9,-2.5,313.0,1.9,0.37533,8.861005
1,2022-01-31 22:00:00+00:00,0.9,9.6,0.30,40.5,8.6,5.5,-2.3,306.0,1.6,0.37533,8.861005
2,2022-01-31 21:00:00+00:00,1.1,12.6,0.33,37.0,8.6,5.5,-2.2,312.0,1.7,0.37533,8.861005
3,2022-01-31 20:00:00+00:00,1.1,15.5,0.32,34.4,7.8,4.7,-2.1,319.0,1.8,0.37533,8.861005
4,2022-01-31 19:00:00+00:00,0.9,16.6,0.30,35.2,7.0,4.0,-2.0,326.0,1.7,0.37533,8.861005

In [6]:
# Let's make a new column for average CO 

air_data_df['CO_average'] = air_data_df['CO'].mean()

# Let's check if everything is ok

air_data_df.head()

,DateTime,SO2,NO2,CO,O3,PM10,PM2.5,TEMP,WD10,WS10,SO2_average,NO2_average,CO_average
0,2022-01-31 23:00:00+00:00,0.7,6.8,0.28,43.0,9.0,5.9,-2.5,313.0,1.9,0.37533,8.861005,0.276321
1,2022-01-31 22:00:00+00:00,0.9,9.6,0.30,40.5,8.6,5.5,-2.3,306.0,1.6,0.37533,8.861005,0.276321
2,2022-01-31 21:00:00+00:00,1.1,12.6,0.33,37.0,8.6,5.5,-2.2,312.0,1.7,0.37533,8.861005,0.276321
3,2022-01-31 20:00:00+00:00,1.1,15.5,0.32,34.4,7.8,4.7,-2.1,319.0,1.8,0.37533,8.861005,0.276321
4,2022-01-31 19:00:00+00:00,0.9,16.6,0.30,35.2,7.0,4.0,-2.0,326.0,1.7,0.37533,8.861005,0.276321

In [7]:
# Let's make a new column for average NO2 

air_data_df['O3_average'] = air_data_df['O3'].mean()

# Let's check if everything is ok

air_data_df.head()

,DateTime,SO2,NO2,CO,O3,PM10,PM2.5,TEMP,WD10,WS10,SO2_average,NO2_average,CO_average,O3_average
0,2022-01-31 23:00:00+00:00,0.7,6.8,0.28,43.0,9.0,5.9,-2.5,313.0,1.9,0.37533,8.861005,0.276321,48.749055
1,2022-01-31 22:00:00+00:00,0.9,9.6,0.30,40.5,8.6,5.5,-2.3,306.0,1.6,0.37533,8.861005,0.276321,48.749055
2,2022-01-31 21:00:00+00:00,1.1,12.6,0.33,37.0,8.6,5.5,-2.2,312.0,1.7,0.37533,8.861005,0.276321,48.749055
3,2022-01-31 20:00:00+00:00,1.1,15.5,0.32,34.4,7.8,4.7,-2.1,319.0,1.8,0.37533,8.861005,0.276321,48.749055
4,2022-01-31 19:00:00+00:00,0.9,16.6,0.30,35.2,7.0,4.0,-2.0,326.0,1.7,0.37533,8.861005,0.276321,48.749055

In [8]:
# Let's make a new column for average PM10 

air_data_df['PM10_average'] = air_data_df['PM10'].mean()

# Let's check if everything is ok

air_data_df.head()

,DateTime,SO2,NO2,CO,O3,PM10,PM2.5,TEMP,WD10,WS10,SO2_average,NO2_average,CO_average,O3_average,PM10_average
0,2022-01-31 23:00:00+00:00,0.7,6.8,0.28,43.0,9.0,5.9,-2.5,313.0,1.9,0.37533,8.861005,0.276321,48.749055,13.824946
1,2022-01-31 22:00:00+00:00,0.9,9.6,0.30,40.5,8.6,5.5,-2.3,306.0,1.6,0.37533,8.861005,0.276321,48.749055,13.824946
2,2022-01-31 21:00:00+00:00,1.1,12.6,0.33,37.0,8.6,5.5,-2.2,312.0,1.7,0.37533,8.861005,0.276321,48.749055,13.824946
3,2022-01-31 20:00:00+00:00,1.1,15.5,0.32,34.4,7.8,4.7,-2.1,319.0,1.8,0.37533,8.861005,0.276321,48.749055,13.824946
4,2022-01-31 19:00:00+00:00,0.9,16.6,0.30,35.2,7.0,4.0,-2.0,326.0,1.7,0.37533,8.861005,0.276321,48.749055,13.824946

In [9]:
# Let's make a new column for average PM2.5 

air_data_df['PM2.5_average'] = air_data_df['PM2.5'].mean()

# Let's check if everything is ok

air_data_df.head()

,DateTime,SO2,NO2,CO,O3,PM10,PM2.5,TEMP,WD10,WS10,SO2_average,NO2_average,CO_average,O3_average,PM10_average,PM2.5_average
0,2022-01-31 23:00:00+00:00,0.7,6.8,0.28,43.0,9.0,5.9,-2.5,313.0,1.9,0.37533,8.861005,0.276321,48.749055,13.824946,5.589805
1,2022-01-31 22:00:00+00:00,0.9,9.6,0.30,40.5,8.6,5.5,-2.3,306.0,1.6,0.37533,8.861005,0.276321,48.749055,13.824946,5.589805
2,2022-01-31 21:00:00+00:00,1.1,12.6,0.33,37.0,8.6,5.5,-2.2,312.0,1.7,0.37533,8.861005,0.276321,48.749055,13.824946,5.589805
3,2022-01-31 20:00:00+00:00,1.1,15.5,0.32,34.4,7.8,4.7,-2.1,319.0,1.8,0.37533,8.861005,0.276321,48.749055,13.824946,5.589805
4,2022-01-31 19:00:00+00:00,0.9,16.6,0.30,35.2,7.0,4.0,-2.0,326.0,1.7,0.37533,8.861005,0.276321,48.749055,13.824946,5.589805

In [10]:
# Let's make a new column for average TEMP 

air_data_df['TEMP_average'] = air_data_df['TEMP'].mean()

# Let's check if everything is ok

air_data_df.head()

,DateTime,SO2,NO2,CO,O3,PM10,PM2.5,TEMP,WD10,WS10,SO2_average,NO2_average,CO_average,O3_average,PM10_average,PM2.5_average,TEMP_average
0,2022-01-31 23:00:00+00:00,0.7,6.8,0.28,43.0,9.0,5.9,-2.5,313.0,1.9,0.37533,8.861005,0.276321,48.749055,13.824946,5.589805,7.514038
1,2022-01-31 22:00:00+00:00,0.9,9.6,0.30,40.5,8.6,5.5,-2.3,306.0,1.6,0.37533,8.861005,0.276321,48.749055,13.824946,5.589805,7.514038
2,2022-01-31 21:00:00+00:00,1.1,12.6,0.33,37.0,8.6,5.5,-2.2,312.0,1.7,0.37533,8.861005,0.276321,48.749055,13.824946,5.589805,7.514038
3,2022-01-31 20:00:00+00:00,1.1,15.5,0.32,34.4,7.8,4.7,-2.1,319.0,1.8,0.37533,8.861005,0.276321,48.749055,13.824946,5.589805,7.514038
4,2022-01-31 19:00:00+00:00,0.9,16.6,0.30,35.2,7.0,4.0,-2.0,326.0,1.7,0.37533,8.861005,0.276321,48.749055,13.824946,5.589805,7.514038

In [11]:
# Let's make a new column for average WD10

air_data_df['WD10_average'] = air_data_df['WD10'].mean()

# Let's check if everything is ok

air_data_df.head()

,DateTime,SO2,NO2,CO,O3,PM10,PM2.5,TEMP,WD10,WS10,SO2_average,NO2_average,CO_average,O3_average,PM10_average,PM2.5_average,TEMP_average,WD10_average
0,2022-01-31 23:00:00+00:00,0.7,6.8,0.28,43.0,9.0,5.9,-2.5,313.0,1.9,0.37533,8.861005,0.276321,48.749055,13.824946,5.589805,7.514038,195.584076
1,2022-01-31 22:00:00+00:00,0.9,9.6,0.30,40.5,8.6,5.5,-2.3,306.0,1.6,0.37533,8.861005,0.276321,48.749055,13.824946,5.589805,7.514038,195.584076
2,2022-01-31 21:00:00+00:00,1.1,12.6,0.33,37.0,8.6,5.5,-2.2,312.0,1.7,0.37533,8.861005,0.276321,48.749055,13.824946,5.589805,7.514038,195.584076
3,2022-01-31 20:00:00+00:00,1.1,15.5,0.32,34.4,7.8,4.7,-2.1,319.0,1.8,0.37533,8.861005,0.276321,48.749055,13.824946,5.589805,7.514038,195.584076
4,2022-01-31 19:00:00+00:00,0.9,16.6,0.30,35.2,7.0,4.0,-2.0,326.0,1.7,0.37533,8.861005,0.276321,48.749055,13.824946,5.589805,7.514038,195.584076

In [12]:
# Let's make a new column for average WS10 

air_data_df['WS10_average'] = air_data_df['WS10'].mean()

# Let's check if everything is ok

air_data_df.head()

,DateTime,SO2,NO2,CO,O3,PM10,PM2.5,TEMP,WD10,WS10,SO2_average,NO2_average,CO_average,O3_average,PM10_average,PM2.5_average,TEMP_average,WD10_average,WS10_average
0,2022-01-31 23:00:00+00:00,0.7,6.8,0.28,43.0,9.0,5.9,-2.5,313.0,1.9,0.37533,8.861005,0.276321,48.749055,13.824946,5.589805,7.514038,195.584076,1.254455
1,2022-01-31 22:00:00+00:00,0.9,9.6,0.30,40.5,8.6,5.5,-2.3,306.0,1.6,0.37533,8.861005,0.276321,48.749055,13.824946,5.589805,7.514038,195.584076,1.254455
2,2022-01-31 21:00:00+00:00,1.1,12.6,0.33,37.0,8.6,5.5,-2.2,312.0,1.7,0.37533,8.861005,0.276321,48.749055,13.824946,5.589805,7.514038,195.584076,1.254455
3,2022-01-31 20:00:00+00:00,1.1,15.5,0.32,34.4,7.8,4.7,-2.1,319.0,1.8,0.37533,8.861005,0.276321,48.749055,13.824946,5.589805,7.514038,195.584076,1.254455
4,2022-01-31 19:00:00+00:00,0.9,16.6,0.30,35.2,7.0,4.0,-2.0,326.0,1.7,0.37533,8.861005,0.276321,48.749055,13.824946,5.589805,7.514038,195.584076,1.254455

Now that we have overall averages set we will continue with Monthly, Daily and Hourly ones

In [13]:
# Add hourly, daily, and monthly average columns for SO2
air_data_df['Hourly_average_SO2'] = air_data_df.groupby(air_data_df['DateTime'].dt.hour)['SO2'].transform('mean')
air_data_df['Daily_average_SO2'] = air_data_df.groupby(air_data_df['DateTime'].dt.date)['SO2'].transform('mean')
air_data_df['Monthly_average_SO2'] = air_data_df.groupby(air_data_df['DateTime'].dt.month)['SO2'].transform('mean')

# Let's see if it worked and we can use it 

display(air_data_df)

,DateTime,SO2,NO2,CO,O3,PM10,PM2.5,TEMP,WD10,WS10,...,CO_average,O3_average,PM10_average,PM2.5_average,TEMP_average,WD10_average,WS10_average,Hourly_average_SO2,Daily_average_SO2,Monthly_average_SO2
0,2022-01-31 23:00:00+00:00,0.7,6.8,0.28,43.0,9.0,5.9,-2.5,313.0,1.9,...,0.276321,48.749055,13.824946,5.589805,7.514038,195.584076,1.254455,0.384573,0.779167,0.611440
1,2022-01-31 22:00:00+00:00,0.9,9.6,0.30,40.5,8.6,5.5,-2.3,306.0,1.6,...,0.276321,48.749055,13.824946,5.589805,7.514038,195.584076,1.254455,0.417080,0.779167,0.611440
2,2022-01-31 21:00:00+00:00,1.1,12.6,0.33,37.0,8.6,5.5,-2.2,312.0,1.7,...,0.276321,48.749055,13.824946,5.589805,7.514038,195.584076,1.254455,0.460111,0.779167,0.611440
3,2022-01-31 20:00:00+00:00,1.1,15.5,0.32,34.4,7.8,4.7,-2.1,319.0,1.8,...,0.276321,48.749055,13.824946,5.589805,7.514038,195.584076,1.254455,0.473204,0.779167,0.611440
4,2022-01-31 19:00:00+00:00,0.9,16.6,0.30,35.2,7.0,4.0,-2.0,326.0,1.7,...,0.276321,48.749055,13.824946,5.589805,7.514038,195.584076,1.254455,0.456906,0.779167,0.611440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8753,2022-12-01 04:00:00+00:00,0.3,8.4,0.21,17.5,14.4,9.4,-3.1,75.0,0.4,...,0.276321,48.749055,13.824946,5.589805,7.514038,195.584076,1.254455,0.267403,0.437500,0.444489
8754,2022-12-01 03:00:00+00:00,0.3,4.9,0.22,19.5,15.6,10.2,-3.1,349.0,0.5,...,0.276321,48.749055,13.824946,5.589805,7.514038,195.584076,1.254455,0.277901,0.437500,0.444489
8755,2022-12-01 02:00:00+00:00,0.4,8.4,0.25,17.4,15.6,10.2,-3.0,205.0,0.2,...,0.276321,48.749055,13.824946,5.589805,7.514038,195.584076,1.254455,0.302479,0.437500,0.444489
8756,2022-12-01 01:00:00+00:00,0.5,8.0,0.26,18.4,18.0,12.6,-3.1,137.0,0.3,...,0.276321,48.749055,13.824946,5.589805,7.514038,195.584076,1.254455,0.326171,0.437500,0.444489
8757,2022-12-01 00:00:00+00:00,0.3,14.6,0.27,13.3,20.3,14.9,-2.7,106.0,0.4,...,0.276321,48.749055,13.824946,5.589805,7.514038,195.584076,1.254455,0.343526,0.437500,0.444489

Since the first and the last averages differed we can use this code

In [14]:
# Add hourly, daily, and monthly average columns for NO2
air_data_df['Hourly_average_NO2'] = air_data_df.groupby(air_data_df['DateTime'].dt.hour)['NO2'].transform('mean')
air_data_df['Daily_average_NO2'] = air_data_df.groupby(air_data_df['DateTime'].dt.date)['NO2'].transform('mean')
air_data_df['Monthly_average_NO2'] = air_data_df.groupby(air_data_df['DateTime'].dt.month)['NO2'].transform('mean')


# Add hourly, daily, and monthly average columns for CO
air_data_df['Hourly_average_CO'] = air_data_df.groupby(air_data_df['DateTime'].dt.hour)['CO'].transform('mean')
air_data_df['Daily_average_CO'] = air_data_df.groupby(air_data_df['DateTime'].dt.date)['CO'].transform('mean')
air_data_df['Monthly_average_CO'] = air_data_df.groupby(air_data_df['DateTime'].dt.month)['CO'].transform('mean')

# Add hourly, daily, and monthly average columns for O3
air_data_df['Hourly_average_O3'] = air_data_df.groupby(air_data_df['DateTime'].dt.hour)['O3'].transform('mean')
air_data_df['Daily_average_O3'] = air_data_df.groupby(air_data_df['DateTime'].dt.date)['O3'].transform('mean')
air_data_df['Monthly_average_O3'] = air_data_df.groupby(air_data_df['DateTime'].dt.month)['O3'].transform('mean')


# Add hourly, daily, and monthly average columns for PM10
air_data_df['Hourly_average_PM10'] = air_data_df.groupby(air_data_df['DateTime'].dt.hour)['PM10'].transform('mean')
air_data_df['Daily_average_PM10'] = air_data_df.groupby(air_data_df['DateTime'].dt.date)['PM10'].transform('mean')
air_data_df['Monthly_average_PM10'] = air_data_df.groupby(air_data_df['DateTime'].dt.month)['PM10'].transform('mean')

# Add hourly, daily, and monthly average columns for PM2.5
air_data_df['Hourly_average_PM2.5'] = air_data_df.groupby(air_data_df['DateTime'].dt.hour)['PM2.5'].transform('mean')
air_data_df['Daily_average_PM2.5'] = air_data_df.groupby(air_data_df['DateTime'].dt.date)['PM2.5'].transform('mean')
air_data_df['Monthly_average_PM2.5'] = air_data_df.groupby(air_data_df['DateTime'].dt.month)['PM2.5'].transform('mean')

# Add hourly, daily, and monthly average columns for TEMP
air_data_df['Hourly_average_TEMP'] = air_data_df.groupby(air_data_df['DateTime'].dt.hour)['TEMP'].transform('mean')
air_data_df['Daily_average_TEMP'] = air_data_df.groupby(air_data_df['DateTime'].dt.date)['TEMP'].transform('mean')
air_data_df['Monthly_average_TEMP'] = air_data_df.groupby(air_data_df['DateTime'].dt.month)['TEMP'].transform('mean')

# Add hourly, daily, and monthly average columns for WD10
air_data_df['Hourly_average_WD10'] = air_data_df.groupby(air_data_df['DateTime'].dt.hour)['WD10'].transform('mean')
air_data_df['Daily_average_WD10'] = air_data_df.groupby(air_data_df['DateTime'].dt.date)['WD10'].transform('mean')
air_data_df['Monthly_average_WD10'] = air_data_df.groupby(air_data_df['DateTime'].dt.month)['WD10'].transform('mean')

# Add hourly, daily, and monthly average columns for WS10
air_data_df['Hourly_average_WS10'] = air_data_df.groupby(air_data_df['DateTime'].dt.hour)['WS10'].transform('mean')
air_data_df['Daily_average_WS10'] = air_data_df.groupby(air_data_df['DateTime'].dt.date)['WS10'].transform('mean')
air_data_df['Monthly_average_WS10'] = air_data_df.groupby(air_data_df['DateTime'].dt.month)['WS10'].transform('mean')

In [15]:
# Let's see how does the table look like

display(air_data_df)

,DateTime,SO2,NO2,CO,O3,PM10,PM2.5,TEMP,WD10,WS10,...,Monthly_average_PM2.5,Hourly_average_TEMP,Daily_average_TEMP,Monthly_average_TEMP,Hourly_average_WD10,Daily_average_WD10,Monthly_average_WD10,Hourly_average_WS10,Daily_average_WS10,Monthly_average_WS10
0,2022-01-31 23:00:00+00:00,0.7,6.8,0.28,43.0,9.0,5.9,-2.5,313.0,1.9,...,6.609054,6.960548,-1.516667,-2.077688,200.736986,320.125,226.174731,1.068219,1.670833,1.733065
1,2022-01-31 22:00:00+00:00,0.9,9.6,0.30,40.5,8.6,5.5,-2.3,306.0,1.6,...,6.609054,7.524110,-1.516667,-2.077688,198.276712,320.125,226.174731,1.110411,1.670833,1.733065
2,2022-01-31 21:00:00+00:00,1.1,12.6,0.33,37.0,8.6,5.5,-2.2,312.0,1.7,...,6.609054,8.194505,-1.516667,-2.077688,193.486264,320.125,226.174731,1.181868,1.670833,1.733065
3,2022-01-31 20:00:00+00:00,1.1,15.5,0.32,34.4,7.8,4.7,-2.1,319.0,1.8,...,6.609054,8.816484,-1.516667,-2.077688,195.645604,320.125,226.174731,1.279121,1.670833,1.733065
4,2022-01-31 19:00:00+00:00,0.9,16.6,0.30,35.2,7.0,4.0,-2.0,326.0,1.7,...,6.609054,9.363187,-1.516667,-2.077688,198.692308,320.125,226.174731,1.354396,1.670833,1.733065
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8753,2022-12-01 04:00:00+00:00,0.3,8.4,0.21,17.5,14.4,9.4,-3.1,75.0,0.4,...,9.706586,5.180220,-4.566667,-3.650134,196.912088,107.875,162.051075,1.033242,0.866667,1.638844
8754,2022-12-01 03:00:00+00:00,0.3,4.9,0.22,19.5,15.6,10.2,-3.1,349.0,0.5,...,9.706586,5.432967,-4.566667,-3.650134,194.395604,107.875,162.051075,1.048077,0.866667,1.638844
8755,2022-12-01 02:00:00+00:00,0.4,8.4,0.25,17.4,15.6,10.2,-3.0,205.0,0.2,...,9.706586,5.718356,-4.566667,-3.650134,197.643836,107.875,162.051075,1.072603,0.866667,1.638844
8756,2022-12-01 01:00:00+00:00,0.5,8.0,0.26,18.4,18.0,12.6,-3.1,137.0,0.3,...,9.706586,6.076712,-4.566667,-3.650134,202.243836,107.875,162.051075,1.049041,0.866667,1.638844
8757,2022-12-01 00:00:00+00:00,0.3,14.6,0.27,13.3,20.3,14.9,-2.7,106.0,0.4,...,9.706586,6.486849,-4.566667,-3.650134,199.296703,107.875,162.051075,1.048077,0.866667,1.638844

In [18]:
# Everything worked fine but all the average columns are now placed so far from 
# the original column the mean is calculated from
# We should rearrange the columns so they will look better

rearranged_df = air_data_df.reindex(columns=['DateTime', 'SO2', 'SO2_average', 'Hourly_average_SO2', 'Daily_average_SO2', 'Monthly_average_SO2', 'NO2', 'NO2_average', 'Hourly_average_NO2', 'Daily_average_NO2', 'Monthly_average_NO2', 'CO', 'CO_average', 'Hourly_average_CO', 'Daily_average_CO', 'Monthly_average_CO','O3', 'O3_average', 'Hourly_average_O3', 'Daily_average_O3', 'Monthly_average_O3', 'PM10', 'PM10_average', 'Hourly_average_PM10', 'Daily_average_PM10', 'Monthly_average_PM10',  'PM2.5', 'PM2.5_average', 'Hourly_average_PM2.5', 'Daily_average_PM2.5', 'Monthly_average_PM2.5', 'TEMP', 'TEMP_average', 'Hourly_average_TEMP', 'Daily_average_TEMP', 'Monthly_average_TEMP', 'WD10', 'WD10_average', 'Hourly_average_WD10', 'Daily_average_WD10', 'Monthly_average_WD10', 'WS10', 'WS10_average', 'Hourly_average_WS10', 'Daily_average_WS10', 'Monthly_average_WS10'])
rearranged_df.head()

,DateTime,SO2,SO2_average,Hourly_average_SO2,Daily_average_SO2,Monthly_average_SO2,NO2,NO2_average,Hourly_average_NO2,Daily_average_NO2,...,WD10,WD10_average,Hourly_average_WD10,Daily_average_WD10,Monthly_average_WD10,WS10,WS10_average,Hourly_average_WS10,Daily_average_WS10,Monthly_average_WS10
0,2022-01-31 23:00:00+00:00,0.7,0.37533,0.384573,0.779167,0.61144,6.8,8.861005,11.228846,12.175,...,313.0,195.584076,200.736986,320.125,226.174731,1.9,1.254455,1.068219,1.670833,1.733065
1,2022-01-31 22:00:00+00:00,0.9,0.37533,0.417080,0.779167,0.61144,9.6,8.861005,13.029945,12.175,...,306.0,195.584076,198.276712,320.125,226.174731,1.6,1.254455,1.110411,1.670833,1.733065
2,2022-01-31 21:00:00+00:00,1.1,0.37533,0.460111,0.779167,0.61144,12.6,8.861005,13.117080,12.175,...,312.0,195.584076,193.486264,320.125,226.174731,1.7,1.254455,1.181868,1.670833,1.733065
3,2022-01-31 20:00:00+00:00,1.1,0.37533,0.473204,0.779167,0.61144,15.5,8.861005,12.972727,12.175,...,319.0,195.584076,195.645604,320.125,226.174731,1.8,1.254455,1.279121,1.670833,1.733065
4,2022-01-31 19:00:00+00:00,0.9,0.37533,0.456906,0.779167,0.61144,16.6,8.861005,12.665556,12.175,...,326.0,195.584076,198.692308,320.125,226.174731,1.7,1.254455,1.354396,1.670833,1.733065

Everything seems to be ok so I will convert this dataframe into a csv file I can use in the following work.

In [19]:
rearranged_df.to_csv("air_2022_average_added.csv", index = False)